baseURL: "https://armandouv.github.io/personal-site"
languageCode: "en-us"
title: "Armando Ugalde's Personal Site"
theme: hugo-profile

outputs:
  home:
    - "HTML"
    - "RSS"
    - "JSON"
  page:
    - "HTML"
    - "RSS"

Paginate: 3
enableRobotsTXT: true
# disqusShortname: your-disqus-shortname
# googleAnalytics: G-MEASUREMENT_ID

markup:
  goldmark:
    renderer:
      unsafe: true

Menus:
  main:
    - identifier: blog
      name: Blog
      title: Blog posts
      url: /blogs
      weight: 1
    #Dropdown menu
    # - identifier: dropdown
    #   title: Example dropdown menu
    #   name: Dropdown
    #   weight: 3
    # - identifier: dropdown1
    #   title: example dropdown 1
    #   name: example 1
    #   url: /#
    #   parent: dropdown
    #   weight: 1
    # - identifier: dropdown2
    #   title: example dropdown 2
    #   name: example 2
    #   url: /#
    #   parent: dropdown
    #   weight: 2

params:
  title: "Armando's Personal Site"
  description: Armando's Personal Site
  # staticPath: ""  # The path to serve the static files from
  favicon: "/a.png"

  # Whether to serve bootstrap css and js files from CDN or not. Can be set to true, "css" or "js" to choose between
  # serving both, only the css, or only the js files through the CDN. Any other value will make so that CDN is not used.
  # Note the lack of "" in true, it should be of boolean type.
  useBootstrapCDN: false

  # If you want to load dynamically responsive images from Cloudinary
  # This requires your images to be uploaded + hosted on Cloudinary
  # Uncomment and change YOUR_CLOUD_NAME to the Cloud Name in your Cloudinary console
  # cloudinary_cloud_name: "YOUR_CLOUD_NAME"

  # Whether the fade animations on the home page will be enabled
  animate: true

  theme:
    # disableThemeToggle: true
    # defaultTheme: "light" # dark

  font:
    fontSize: 1rem # default: 1rem
    fontWeight: 400 # default: 400
    lineHeight: 1.5 # default: 1.5
    textAlign: left # default: left

  # color preference
  # color:
  #   textColor:
  #   secondaryTextColor:
  #   backgroundColor:
  #   secondaryBackgroundColor:
  #   primaryColor:
  #   secondaryColor:

  #   darkmode:
  #     textColor:
  #     secondaryTextColor:
  #     backgroundColor:
  #     secondaryBackgroundColor:
  #     primaryColor:
  #     secondaryColor:

  # If you want to customize the menu, you can change it here
  navbar:
    align: ms-auto # Left: ms-auto | center: mx-auto | right: me-auto | Default: ms-auto
    # brandLogo: "/logo.png" # Logo for the brand | default is the favicon variable
    # showBrandLogo: false # Show brand logo in nav bar | default is true
    brandName: "Armando Ugalde" # Brand name for the brand | default is the title variable
    disableSearch: false
    menus:
      disableAbout: false
      disableExperience: false
      disableEducation: false
      disableProjects: false
      disableAchievements: false
      disableContact: false

  # Hero
  hero:
    enable: true
    intro: "Hi, my name is"
    title: "Armando."
    subtitle: "¿Who am I?"
    content: "As a Computer Engineering student, I am passionate about exploring the possibilities of technology to solve real-world problems. Although I am still gaining experience, I have had the opportunity to work as a software engineering intern, where I gained valuable experience in building software applications. I strive to design solutions that not only meet the needs of today but anticipate the needs of tomorrow, and I am excited to continue to develop my expertise in programming and software development."
    image: /images/armando.jpeg
    roundImage: true # Make hero image circular | default false
    button:
      enable: true
      name: "Resume"
      url: "/docs/Armando_Ugalde_Resume.pdf"
      download: false
      newPage: true
    socialLinks:
      fontAwesomeIcons:
        - icon: fab fa-github
          url: https://github.com/armandouv
        - icon: fab fa-linkedin
          url: https://www.linkedin.com/in/armandouv/

  # About
  about:
    enable: true
    title: "About Me"
    image: "/images/armando1.jpg"
    content:
     "I am a Software Engineer and Computer Engineering student currently pursuing my degree at UNAM. My main areas of interest are Distributed Systems and Machine Learning, and I am passionate about using technology to solve complex problems. During the summer of 2022, I had the opportunity to work as a Meta University Intern at Meta, where I gained valuable experience working on mobile software projects. I am currently seeking full-time opportunities to apply my skills and knowledge in the field of Software Engineering.


Outside of my studies and work, I enjoy exploring the latest advancements in technology and tinkering with personal coding projects. In my free time, you can often find me playing soccer, strumming my guitar, singing, or lifting weights at the gym. I find that these hobbies provide a balance to my technical pursuits and allow me to recharge my creative batteries.


I am always on the lookout for new challenges and opportunities to grow, both personally and professionally. Whether it's through tackling a difficult coding problem or mastering a new song, I am dedicated to continuous improvement and pushing myself to reach new heights."
    skills:
      enable: true
      title: "Here are a few technologies I've been working with recently:"
      items:
        - "C++"
        - "Java"
        - "JavaScript"
        - "TypeScript"
        - "C"
        - "Python"
        - "Node.js"
        - "Spring Boot"
        - "SQL"
        - "Git"
        - "Bash Scripting"

  # Education
  education:
    enable: true
    # title: "Custom Name"
    index: false
    items:
      - title: "Bachelor of Science in Computer Engineering"
        school:
          name: "National Autonomous University of Mexico"
          url: "https://www.unam.mx/"
        date: "2019 - 2024"
        GPA: "9.88 out of 10.0"
        content: |-
            - Awarded Telmex national academic excellence scholarship, granted to 2000 students across Mexico.
            - Member of CPCFI, School of Engineering’s Competitive Programming Club.


  # Experience
  experience:
    enable: true
    # title: "Custom Name"
    items:
      - job: "Meta University Engineering Intern"
        company: "Meta"
        companyUrl: "https://about.meta.com/"
        date: "May 2022 - August 2022"
        content: "• Outlined a project idea from scratch, including product evaluation, user stories and wireframes.


• Established weekly sprint plans independently, splitting features into manageable tasks.


• Held weekly discussions with my manager to ensure project development was aligned with requirements.


• Developed an Android pet adoption application using a database and an external API (PetFinder).


• Implemented a pet ranking algorithm according to user preferences.


• Implemented a nearby pets map view with multiple user parameters and visual cues.


• Helped peers debug and solve technical problems multiple times."

      - job: "Production Engineering Intern"
        company: "MLH Fellowship"
        companyUrl: "https://fellowship.mlh.io/"
        date: "June 2021 - August 2021"
        content: "• Developed a blog web application using Python, Flask and PostgreSQL.


• Deployed and maintained a web application using Nginx as a reverse proxy in an EC2 instance.


• Containerized application deployment using Docker and Docker Compose.


• Implemented a CI/CD pipeline using Github Actions.


• Acquired theoretical knowledge and practical skills in DevOps, Linux and System Administration."

  # projects
  projects:
    enable: true
    # title: "Custom Name"
    items:
      - title: Petitions platform
        content: "Developed a petitions platform to enhance communication among UNAM’s community. Implemented a REST API using Node and NestJS, modeled data entities in a normalized database schema and implemented a secure authentication system using JSON Web Tokens."
        image: /images/projects/profile2.jpg
        badges:
          - "TypeScript"
          - "Node.js"
          - "PostgreSQL"
          - "TypeORM"
          - "NestJS"
        links:
          - icon: fab fa-github
            url: https://github.com/armandouv/petitions-backend

      - title: Image Equalization
        content: "Developed a command line C program to enhance contrast levels in a digital image. Implemented a histogram equalization algorithm in both parallel and sequential fashions, where a 4x speedup was achieved by parallelizing the program using the OpenMP library. Developed a Python program to generate plots containing relevant information about the image."
        image: /images/projects/programming.png
        badges:
          - "C"
          - "Python"
          - "OpenMP"
        links:
          - icon: fab fa-github
            url: https://github.com/armandouv/histogram-equalization

      - title: Personal Organizer
        content: "Developed a personal organizer web application using Node and Express. Implemented a secure session-based authentication system, improved user experience by replacing page requests for AJAX requests, and automated deployment process using Heroku."
        image: /images/projects/converter.jpg
        badges:
          - "JavaScript"
          - "Node.js"
          - "Express"
          - "MongoDB"
        links:
          - icon: fab fa-github
            url: https://github.com/armandouv/personal-organizer
  
  # Languages
  achievements:
    enable: true
    title: "Languages"
    items:
      - title: English
        content: C1 (TOEFL iBT 108 Points) 
      - title: Spanish
        content: Native
  
  # Schedule
  contact:
    enable: true
    title: "Schedule"
    content: "My schedule usually looks as follows (from Monday to Friday):"
    schedule: /images/schedule.png
    # formspree:
    #   enable: true # `contact.email` value will be ignored
    #   formId: abcdefgh # Take it from your form's endpoint, like 'https://formspree.io/f/abcdefgh'
    #   emailCaption: "Enter your email address"
    #   messageCaption: "Enter your message here"
  
  footer:
    recentPosts:
      path: "blogs"
      count: 3
      title: Recent Posts
      enable: true
      disableFeaturedImage: false
    socialNetworks:
      github: https://github.com/armandouv
      linkedin: https://www.linkedin.com/in/armandouv/

  # List pages like blogs and posts
  listPages:
    disableFeaturedImage: false

  # Single pages like blog and post
  singlePages:
    readTime:
      enable: true
      content: "min read"
    scrollprogress:
      enable: true

  # For translations
  terms:
    read: "Read"
    toc: "Table Of Contents"
    copyright: "All rights reserved"
    pageNotFound: "Page not found"
    emailText: "Check out this site"

  datesFormat:
    article: "Jan 2, 2006"
    articleList: "Jan 2, 2006"
    articleRecent: "Jan 2, 2006"
